<header>
    <h1 class="score" ng-if="score">SCORE: {{score.value}}</h1>
    <button class="btn-primary btn-fixed" ng-click="startGame()">NEW GAME</button>
</header>
<section>
    <article ng-if="enemy" ng-repeat="enemy in enemies" class="enemy invaders grid" ng-class="'grid-'+enemy.x+'-'+enemy.y"></article>
    <article ng-if="bullet" ng-repeat="bullet in bullets" class="bullet invaders grid" ng-class="bullet.explode ? 'explode '+'grid-'+bullet.x+'-'+bullet.y : 'grid-'+bullet.x+'-'+bullet.y">
    </article>
    <article ng-if="player" class="player invaders grid" ng-class="'grid-'+player.x+'-'+player.y"></article>
</section>
